.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.app-body {
  width: 80%;
  margin: 0 auto;
}

.result-container {
  height: auto;
  border: 1px solid black;
  margin-bottom: 20px;
}

.text-left {
  text-align: left;
}

.info div {
  padding: 10px 0px;
}

/** SEARCH **/

.search {
  margin: 20px;
}

.search input {
  border-radius: 20px;
}

/** RELEASES **/

.releases-label {
  cursor: pointer;
}

.releases-label:hover {
  text-decoration: underline;
}

.releases-block {
  border: 1px solid #ddd;
  padding: 0px 5px !important;
}

.releases-block .row {
  margin: 0;
}